
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "" !important;
}

h1 {
    font-size: 2em !important;
}
h2 {
    font-size: 2em !important;
}

h3 {
    font-size: 1.75em !important;
}
h4 {
    font-size: 1.5em !important;
}
h5 {
    font-size: 1.25em !important;
}
h6 {
    font-size: 1em !important;
}
img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
}

tr {
    outline: 1px solid #383838;
}

th, td {
    padding: 5px !important;
}

div.page section ul li {
    margin-top: .5rem !important;
}

.link-button {
    text-decoration: none;
    background-color: #a1b56c;
    color: #181818 !important;
    padding: 0.1rem;
    opacity: 0.90;
}
.link-button:hover {
    opacity: 1;
}